*{
    margin: 0;
    padding: 0;
}
.logo img{
    margin-top: 50px;
    margin-left: 150px;
    height: 60px;
    width: 60px;
}
.logo{
    font-size: 25px;
    font-family: 'Lato', sans-serif;
}
.wrapper nav{
    font-family: 'Lato', sans-serif;
    position: relative;
    left: 23cm;
    bottom: 1cm;
    font-size: 25px;
    
}
.wrapper nav a{
    background-image: linear-gradient(#ddd6f3, #faaca8);
    border-radius: 15px;
    padding: 15px;
    margin: 5px;
    text-decoration: none;
}
header{
    background-image: linear-gradient(#ddd6f3, #faaca8);
}
body h1{
    font-family: 'Lato', sans-serif;
    position: relative;
    left: 4cm;
    line-height: 1.2cm;
    top: 0.75cm;
    font-size: 40px;
}
body p{
    font-family: 'Merriweather', serif;
    position: relative;
    left: 4cm;
    font-size: 22px;
    top: 1cm;
    line-height: 1.1cm;
    margin-top: 0.5cm;
}
.mainpic{
    height: 510px;
    width: 400px;
    position: relative;
    left: 26cm;
    bottom: 9cm;
}


