*{
    margin: 0;
    padding: 0;
    overflow: hidden;
}
.logo img{
    margin-top: 50px;
    margin-left: 150px;
    height: 60px;
    width: 60px;
}
.logo{
    font-size: 25px;
    font-family: 'Lato', sans-serif;
}
.wrapper nav{
    font-family: 'Lato', sans-serif;
    position: relative;
    left: 23cm;
    bottom: 1cm;
    font-size: 25px;
}
.wrapper nav a{
    border-radius: 15px;
    padding: 15px;
    margin: 5px;
    text-decoration: none;
}
body h1{
    font-family: 'Lato', sans-serif;
    position: relative;
    left: 4cm;
    line-height: 1.2cm;
    top: 0.75cm;
    font-size: 40px;
}
body h3{
    font-family: 'Lato', sans-serif;
    position: relative;
    left: 10.5cm;
    top: 4cm;
    font-size: 25px;
}
.flex-container{
    font-family: 'Merriweather', serif;
    position: relative;
    left: 4cm;
    font-size: 22px;
    top: 1cm;
    line-height: 1.1cm;
    margin-top: 0.5cm;
}
.mainpic{
    height: 450px;
    width: 340px;
    position: relative;
    left: 27cm;
    bottom: 9.5cm;
    border-radius: 15px;
}
body{
    background-image: url(assets/background1.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}
@media (max-width: 700px){
    .logo img{
        margin-left: 25px;
        height: 35px;
        width: 35px;
    }
    .wrapper nav{
        font-family: 'Lato', sans-serif;
        position: relative;
        left: 23cm;
        bottom: 1cm;
        font-size: 15px;
    }
    body h1{
        font-family: 'Lato', sans-serif;
        position: relative;
        left: 0.5cm;
        top: 0cm;
        font-size: 20px;
        margin-right: 0.75cm;
        align-items: center;
    }
    .flex-container{
        font-family: 'Merriweather', serif;
        display: flex;
        flex-wrap: wrap;
        margin-right: 0.75cm;
        position: relative;
        left: 0.5cm;
        top: 2cm;
        font-size: 15px;
    }
    br{
        display: none;
    }
    .mainpic{
        height: 145px;
        width: 140px;
        position: relative;
        left: 3.4cm;
        bottom: 12.8cm;
        border-radius: 50%;
    }


    


}


